{
  "parallel": true,
  "concurrency": 5,
  "intervalCap": 50,
  "logSize": 15,
  "directory": "",
  "mode": 1,
  "useSubfolder": true,
  "osuPath": "",
  "mirror": "catboy",
  "catboyServer": "default",
  "skipExisting": true,
  "backupRetention": 30,
  "mirrorRotation": false,
  "noVideo": true
}
